*{
  box-sizing: border-box;
}

.carousel-container{
  position: relative;
    width: 600px;
    height: 400px;
    margin-left: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    float: left;
}

@media (max-width: 768px){
        
  .carousel-container{
      position: relative;
      width: 80%;
      height: 400px;
      margin-left: 5%;
      overflow: hidden;
      float: left;
  }

}